name: Build and publish - Pre Release

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Add .npmrc file
        run: |
          echo "@${{ github.repository_owner }}:registry=https://npm.pkg.github.com/" >> .npmrc
          echo "//npm.pkg.github.com/:_authToken=${{ secrets.REGISTRY_AUTH_TOKEN }}" >> .npmrc
          chmod 0600 .npmrc

      - uses: actions/setup-node@v3
        with:
          node-version: "16.x"
          registry-url: "https://npm.pkg.github.com/"

      - name: Cat
        run: cat ./.npmrc

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install project dependencies
        run: pnpm install

      - name: Build project
        run: pnpm run build

      - name: Publish package
        run: pnpm publish --no-git-checks
